.header {
    display: flex;
    justify-content: space-between;

    margin: 15px 25px 10px;
}

.title {
    margin: 0 0 10px;

    font-size: 20px;
    font-weight: normal;
}

.line {
    width: 100%;
    margin: 0 auto;
}

.children {
    margin: 35px 25px;
}

.closeBtn {
    width: 30px;
    height: 30px;
}
