.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.questionText{
    margin-top: 20px;

    font-weight: normal;
}
.rating {
    margin-top: 10px;
}
.radioInputs{
    display: flex;
    flex-direction: column;
}
.none {
    display: none !important;
}
.button{
    margin: 20px auto;
}
.buttonMUI {
    border-radius: 20px !important;
}
.question{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

    font-weight: bold;
}
.countBlack {
    margin-top: 20px;

    font-size: small;
    color: #acd9d3;

    opacity: 80%;
}
.count{
    margin-top: 20px;

    font-size: small;
    color: #3d3d3d;

    opacity: 80%;
}
.packName{
    margin-top: 20px;

    font-size: larger;
    font-weight: bold;
}
.cardBlack{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    width: 420px;
    margin: 40px auto;
    padding: 40px;

background: #28282B;
    box-shadow: 0 2px 10px rgba(172, 217, 211, 0.48), inset 0 1px 0 rgba(172, 217, 211, 0.38);
}
.card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    width: 420px;
    margin: 40px auto;
    padding: 40px;

    box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}