.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 15px;

  text-align: center;
}
h3 {
  margin: 0 0 10px 0;
}
.button {
  width: 50px;

  border-radius: 0;
}
