.default {
}

.btn {
  margin-bottom: 5px;

  font-family: LiSu;
  font-size: 16px;
  color: #003399;

  background: #ffc0cb;
  border: none;
}

.btn:hover {
  cursor: pointer;

  background-color: #ff9baa;
}

.btn:active {
  cursor: pointer;

  background-color: #fb607f;
}

.red {
  color: #003399;

  background: #c10020;
}
