.wrapper {
  display: flex;
  flex-direction: column;

  width: 240px;
  margin-top: 20px;
  padding-left: 30px;
}

.homework_title {
  padding-left: 40px;

  font-family: LiSu;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  color: #fb607f;
}

.select {
  width: 35px;
  height: 30px;
  margin-bottom: 10px;

  font-family: LiSu;
  font-size: 18px;
  color: #003399;

  background: #ffc0cb;
  border: none;
}

.radio {
  width: 15px;
  height: 15px;
  margin-bottom: 10px;

  font-family: LiSu;
  font-size: 18px;
  color: #003399;

  background: #ffc0cb;
  border: none;
}
