.HeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
}
.title {
  font-size: 30px;
  font-weight: bold;
}

.tableWrap {
  margin-bottom: 20px;
}
.pagination {
  margin: 30px 0px;
}

@media only screen and (max-width: 890px) {
  .tableHead > th {
    max-width: 30px;
    padding: 5px;
  }
  .tableRow > td {
    padding: 0;
  }
  .nameColumn {
    overflow: hidden;

    max-width: 120px;

    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 707px) {
  .lastUpdated {
    display: none !important;
  }
}
