.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.tableWrap {
  margin-bottom: 20px;
}

.pagination {
  margin: 30px 0px;
}

.paginationWithSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.show{
  margin: 0 10px;
}
