
.HeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;

}
.title {
  font-size: 30px;
  font-weight: bold;
}

.table {
  margin-bottom: 20px;
}



@media only screen and (max-width: 890px) {
  .tableRow > td {
    padding: 10px;
  }
  .nameColumn {
    overflow: visible;

    max-width: 40px;

    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
