.label {
  cursor: pointer;

  display: flex;
  align-items: center;
}

.checkbox {
  cursor: pointer;

  width: 30px;
  height: 30px;
  margin: 10px;

  background-color: #ffe4e1;
  border-color: #ff9baa;
}

.checkbox:checked {
  background-color: #ffe4e1;

  appearance: auto;
}
